<h2><%= @page_header %></h2>

<h3> <%= @contacts[:name] %></h3>
<p>Address: <%= @contacts[:address] %></p>
<a href="/addresses/<%= @id %>/edit">Edit</a>
<br>
<form action="/addresses/<%= @id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete">
</form>
<br>
<a href="/addresses">Return to List</a>
<br>